---
import { Icon } from 'astro-icon'
import GradientText from './GradientText.astro';

export interface Props {
    heading: string
    href?: string
    description?: string
}

const { heading, href, description } = Astro.props
---

<a class="card" href={href}>
    <h2 class="card__heading">
        <GradientText>{ heading }</GradientText>
    </h2>
    <Icon name="mdi:dna" class="card__icon"></Icon>
    <p class="card__description">
        <slot>
            { description }
        </slot>
    </p>
</a>

<style lang="scss">
.card {
    --border-size: 2px;
    --icon-size: 32px;
    --padding: 16px;

    display: block;
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }

    background-color: rgb(var(--c-white));

    overflow: hidden;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: var(--padding);
    border: var(--border-size) solid transparent;
    position: relative;

    transition: border ease-out 300ms;

    &:hover {
        border: var(--border-size) solid rgb(var(--c-primary));
    }
    &::after {
        --size: 212px;
        --border-size: 50px;

        // Move decoration to center icon
        --top: calc(var(--size) / (-2) + var(--padding) + var(--icon-size) / 2);
        --right: var(--top);

        content: '';
        position: absolute;
        top: var(--top);
        right: var(--right);
        width: calc(var(--size) - var(--border-size) * 2);
        height: calc(var(--size) - var(--border-size) * 2);
        aspect-ratio: 1;
        border-radius: 100%;
        border: var(--border-size) solid rgb(var(--c-dark), 0.05);
    }

    &__heading {
        font-family: 'Roboto Mono', Courier, monospace;
        font-size: 36px;
        font-weight: 700;

        white-space: wrap;
        word-break: break-all;

        margin: 0;
        margin-bottom: 16px;
        margin-right: var(--icon-size);
    }

    &__icon {
        position: absolute;
        top: var(--padding);
        right: var(--padding);
        color: rgb(var(--c-secondary));
        width: 32px;
    }

    &__description {
        font-size: 20;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        color: rgb(var(--c-dark));
    }
}
</style>
